.pagination__items {

    display: flex;
    padding: 5px;

    .page-numbers {
        display: block;
        border: 1px solid $light;
        padding: 10px 20px;
    }

    color: $neutral;

    a {
        transition: 0.3s;
        color: $primarydark;

        &:hover {
            color: white;
            transition: 0.3s;
            background-color: $primary;
            border: 1px solid $primarydark;
        }
    }

}