.cards {
    padding-top: 20px;
    padding-bottom: 50px;

    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__item {
        display: block;
        width: 48%;
        color: $neutral;
        border: 1px solid $neutrallight;
        margin: 6px;

        &-book-info {
            font-size: 0.8rem;
            border-bottom: 1px solid rgb(202, 202, 202);
            margin-bottom: 10px;
        }

        &:hover {
         
            color: black;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

            h3, .cards__button {
                color: $primary;
            }


        }

        &-container {
            display: flex;
            height: 100%;
        }

        &-desc {
            padding: 20px;
            width: 70%;
        }

        &-pic {
            width: 30%;
            background-size: cover;
        }
    }
}

@media (max-width: 1040px) {
    .cards {

        &__item {
            &-container {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
            }

            &-desc {
                width: 100%;
            }

            &-pic {
                width: 100%;                
            }

            &-has-image {
                height: 100px;
            }
        }



    }
}

@media (max-width: 640px) {
    .cards {
        &__item {

            width: 100%;

        }
    }
}
