.atlas {
    &__content {
        display: flex;
        padding: 20px;

        h4 {
            padding-bottom: 20px;
        }

        ul {
            list-style: none;

            li {
                a {
                    color: $primarydark;
                    line-height: 30px;

                    &:hover {
                        color: $neutraldark;
                    }
                }
            }
        }
    }
}