.links {

    padding-bottom: 40px;
    padding-top: 40px;

    &__card {
        border-bottom: 1px solid $neutrallight;
        display: flex;

        &:hover {
            background-color: $verylight;

            a {
                color: $primarydark;
            }
        }
    }

    &__image {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 120px;

        img {
            max-width: 120px;
        }
    }

    &__text {
        padding: 20px;
        max-width: 80%;

        span {

            a {
                color: $neutral;
            }

        }
    }
}