.single-text {
    padding: 30px;

    &__content {
        max-width: 80%;

        ul, ol {
            padding-bottom: 20px;
        }
    }

    &__desc {

        padding-top: 50px;
        padding-bottom: 50px;

        a {
            color: $neutral;
        }
    }

    &__goback {

        a {
            color: $neutral;
            display: block;
            padding: 10px;
            background-color: $light;
        }
    }

    &__image {
        img {
            max-width: 800px;
            padding-bottom: 20px;
        }
    }
}

figcaption {
    font-size: 0.9rem;
    color: $neutral;
    text-align: center;
    line-height: 1rem;
}