.single-banner {
    background-color: $primary;
    min-height: 80px;
    padding: 20px;

    &__content {
        max-width: 80%;
        color: white;
    }

    a {
        color: white;

        &:hover {
            color: white;
        }
    }

    h1 {
        color: white;
    }

    &__book {
        display: flex;
    }

    &__desc {
        padding-left: 20px;

        p {
            padding-bottom: 0;
        }
    }

    &__img {
        max-width: 120px;
    }

    

}

.mainbanner {
    min-height: 270px;
    padding: 50px;
    text-align: center;

    &__desc p {
        font-size: 20px;
    }
}

@media (max-width: 1040px) {
    .single-banner {

        padding: 20px;

        h1{
            font-size: 32px;
            line-height: 36px;
        }

        &__content {
            max-width: 90%;
            color: white;
        }
    }
}

@media (max-width: 640px) {
    .single-banner {

        padding: 10px;

        &__content {
            max-width: 100%;
            color: white;
        }

        h1{
            font-size: 24px;
            line-height: 28px;
        }
    }
}