.btn {
    display: inline-block;
    cursor: pointer;
    border-radius: 12px;
}

.btn--light {
    background-color: $primarylight;
    border: 1px solid #F9995D;
    color: $neutral;
}

.btn--small {
    padding: 4px 8px;
}