.header__container {

    display: flex;
    justify-content: space-between;

    .header__menu {
        width: 100%;    
        padding-left: 20px;
    }

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    width: 100%;
    z-index: 100;

    .menu-mainheader-container, .menu-mainheaderen-container {        
        
        ul {
            display: flex;
            padding: 0;
            background-color: #fff;
            width: 100%;
            z-index: 100;
        }
    
        li {
            list-style: none;    
            position: relative;
            border: 1px solid white;
            
            ul.sub-menu {
                display: none;
            }
    
            a {
                text-decoration: none;
                padding: 10px;
                display: block;
                color: $primary;
            }

            &:hover {
                background-color: $primary;
                border: 1px solid $primarydark2;
                
                a {
                    color: white;
                }

                ul.sub-menu {
                    display: block;
                    position: absolute;
                    top: 45px;                    
                    left: -1px;
                    background-color: $primary;
                    min-width: 200px;
                    border-left: 1px solid $primarydark2;
                    border-bottom: 1px solid $primarydark2;
                    border-right: 1px solid $primarydark2;
                    box-shadow: 0px 10px 10px 4px rgba(0, 0, 0, 0.2);

                    li {

                        border: 1px solid $primary;

                        &:hover {
                            background-color: white;
                            a {
                                color: $primary;
                            }                    
                        }

                    }
                    
                }
            }
        }
    }

    .toggle-button {
        position: absolute;
        top: 2rem;
        right: 2rem;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 21px;

        .bar {
            height: 3px;
            width: 100%;
            background-color: rgb(85, 85, 85);
        }
    }

}

.footer__first-menu, .footer__second-menu {

    ul {
        list-style: none;

        li {

            a {
                color: $light;

                &:hover {
                    color: $secondary;
                }
            }

        }
    }

}


@media (max-width:  1040px) {

    .header {
        .container {
            padding: 0;
        }

    
    }

    .header__container {

        .header__menu {
            padding: 0px 0px;
        }

        .header__search {
            display: none;
        }

        flex-direction: column;
        align-items: flex-start;
        width: 100%;    

        .menu-mainheader-container, .menu-mainheaderen-container {
            display: none;
            width: 100%;
            border-top: 1px solid $light;

            ul {
                flex-direction: column;
                flex-wrap: nowrap;
                width: 100%;
                padding: 0;
            }

            li {
                border-bottom: 1px solid $light;

                &:hover {

                    ul.sub-menu {
                        display: none;
                    }
                }
            }

            li.active {           
                background-color: $primary;
                
                a {
                    color: white;
                }
                
                ul.sub-menu {
                    display: block;
                    // position: absolute;
                    // top: 45px;                    
                    background-color: $primary;

                    li {
                        a {
                            color: white;
                        }

                        &:hover {
                            background-color: white;
                            a {
                                color: $primary;
                            }                    
                        }

                    }
                
                }
            }
        }

        .toggle-button {
            display: flex;
        }

        .menu-mainheader-container.active, .menu-mainheaderen-container.active {
            display: flex;
        }

    }

    .header__menu.active {

        .menu-mainheader-container, .menu-mainheaderen-container {
            display: flex;
        }
    }



}
