.header__container {

    display: flex;
    justify-content: space-between;

    .header__menu {
        width: 100%;    
        padding-left: 20px;
    }

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    width: 100%;
    z-index: 100;

    .menu-mainheader-container, .menu-mainheaderen-container {        
        
        ul {
            display: flex;
            padding: 0;
            background-color: #fff;
            width: 100%;
            z-index: 100;
        }
    
        li {
            list-style: none;    
            position: relative;
            
            ul.sub-menu {
                display: none;
            }
    
            a {
                text-decoration: none;
                padding: 1rem;
                display: block;
                color: $primary;
            }

            &:hover {
                background-color: $primary;
                
                a {
                    color: white;
                }

                ul.sub-menu {
                    display: block;
                    position: absolute;
                    top: 55px;
                    left: 0;
                    background-color: $primary;
                    min-width: 200px;

                    li:hover {
                        background-color: white;
                        border: 1px solid $primary;
                        a {
                            color: $primary;
                        }                    
                    }
                }
            }
        }
    }

    .toggle-button {
        position: absolute;
        top: 2rem;
        right: 2rem;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 21px;

        .bar {
            height: 3px;
            width: 100%;
            background-color: rgb(85, 85, 85);
        }
    }

}

.footer__first-menu, .footer__second-menu {

    ul {
        list-style: none;

        li {

            a {
                color: $light;

                &:hover {
                    color: $secondary;
                }
            }

        }
    }

}


@media (max-width:  1040px) {

    .header {
        .container {
            padding: 0;
        }

    
    }
    .header__container {

        .header__menu {
            padding: 20px 0px;
        }

        .header__search {
            display: none;
        }

        flex-direction: column;
        align-items: flex-start;
        width: 100%;    

        .menu-mainheader-container, .menu-mainheaderen-container {
            display: none;
            width: 100%;

            ul {
                flex-direction: column;
                flex-wrap: nowrap;
                width: 100%;
                padding: 0;
            }

            li {
                border-bottom: 1px solid $light;
            }
        }

        .toggle-button {
            display: flex;
        }

        .menu-mainheader-container.active, .menu-mainheaderen-container.active {
            display: flex;
        }

    }

    .header__menu.active {

        .menu-mainheader-container, .menu-mainheaderen-container {
            display: flex;
        }
    }
}
