/* size */

$container: 1240px;

/* Colors */

$primary: #F9995D;
$secondary: #2A9D8F;
$primarydark2: #dd7f44;
$primarydark: #a54f1a;
$secondarydark: #14574f;
$neutral: #3D445C;
$neutrallight: #cecfd3;
$neutraldark: #27292e;
$light: #e2e5f1;
$verylight: #f6f7fd;

